.box {
  position: relative;
  height: 72px;
  width: 150px;
  overflow: hidden;
}
#box1 {
  background-color: #ffaf00;
}
#box2 {
  background-color: #00a0ff;
}
.text {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 72px;
  font-family: serif;
  font-size: 64px;
  white-space: nowrap;
  transform-origin: left;
}
